:root {
  --primary: #4094F7;
  --secondary: #F6FCFF;

  --text-primary: #0E73F6;
  --text-dark: #252C32;
  --text-dark-transparent: #191C30E5;
  --text-white: #ffffff;
  --text-white-2: #F6F8F9;
  --text-gray: #84919A;
  --text-gray-2: #5B6871;
  --text-placeholder: #9AA6AC;

  --bg-primary: var(--primary);
  --bg-primary-hover: #65a4f8;
  --bg-primary-disabled: #496fa1;
  --bg-white: #FFFFFF;
  --bg-blue: #F4FAFF;
  --bg-gray: #EEF0F2;
  --bg-gray-hover: #dadcde;
  --bg-gray-2: #303940;

  --border-primary: #4094F7;
  --border-secondary: #9BCFFD;
  --border-blue: #D7EDFF;
  --border-gray: #DDE2E4;
  --border-gray-transparent: #1A202433;

  --box-shadow: 0 4px 24px 0 #0000001F;

}
